/bower_components
/node_modules
/npm-debug.log
.env
.idea/

### Sass template
.sass-cache/
*.css.map

### Windows template
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride